{% extends 'GestionBundle::main.html.twig' %}

{% block contenido %}

<div class="page-wrapper">
  <div class="content">
  	<br>
    <h2>&nbsp;&nbsp;SEGUIMIENTO DE AMFE</h2>
    <br>
    <br>
    <div class="card border-dark">
	    <table class="table table-borderless">
	          <tr>
	            <th class="align-middle" scope="col">
	              <div class="form-group">
	                <select class="form-control input sm" id="area" id="area" required="">
	                  <option value="" disabled selected hidden>{% trans %}area{% endtrans %}</option>
	                  <option value="EO">{% trans %}EO{% endtrans %}</option>
	                  <option value="FV">{% trans %}FV{% endtrans %}</option>
	                  <option value="ME">{% trans %}ME{% endtrans %}</option>
	                  <option value="PVT">{% trans %}PVT{% endtrans %}</option>
	                </select>
	              </div>
	            </th>

	            <th class="align-middle" scope="col">
	              <div class="form-group">
	                <select class="form-control input sm" name="modelo" id="modelo" required="">
	                  <option value="" disabled selected hidden>{% trans %}modelo{% endtrans %}</option>
	                </select>
	              </div>
	            </th>

	            <th class="align-middle" scope="col">
	              <div class="form-group">
	                <select class="form-control input sm" name="submodelo" id="submodelo" required="">
	                  <option value="" disabled selected hidden>{% trans %}submodelo{% endtrans %}</option>
	                </select>
	              </div>
	            </th>

	            <th class="align-middle" scope="col">
	              <div class="form-group">
	                <input type="submit" id="add" value="FILTRAR" class="btn btn-success"/>
	              </div>
	            </th>
	            
	        </tr>
	    </table>
    </div>

<div id="ajax_segAmfe">
  </div>

  </div>
</div>

<script type="text/javascript"> 
  $(document).ready(function(){

  	$('#area').on('change', function(){
          var area=$(this).val();
           //console.log(planta_id);
          $.ajax({
            type:'get',
            url:'{{ path('app_fetch_amfepart')}}',
            data:{'area':area},
            success:function(r){
                var bbb = r.data;
                var options = '';
                options += '<option value="0" selected disabled hidden>{% trans %}modelo{% endtrans %}</option>';
                for(var i=0; i<bbb.length; i++) { // Loop through the data & construct the options
                options += '<option value="'+bbb[i].id+'">'+bbb[i].nombre+'</option>';
                }
        // Append to the html
        $('#modelo').empty();
        $('#modelo').append(options);

        if (($('#modelo > option').length-1) == 1) {
          $('select#modelo option:nth-child(2)').attr('selected', 'selected');
          $('#modelo').trigger('change');
          $('#modelo').css('background', 'LightGray');
        }
       
          }
        })
      });

  	$('#modelo').on('change', function(){
          var modelo_id=$(this).val();
           //console.log(planta_id);
          $.ajax({
            type:'get',
            url:'{{ path('app_fetch2_amfepart')}}',
            data:{'id':modelo_id},
            success:function(r){
                var bbb = r.data;
                var options = '';
                options += '<option value="0" selected disabled hidden>{% trans %}submodelo{% endtrans %}</option>';
                for(var i=0; i<bbb.length; i++) { // Loop through the data & construct the options
                options += '<option value="'+bbb[i].id+'">'+bbb[i].nombre+'</option>';
                }
        // Append to the html
        $('#submodelo').empty();
        $('#submodelo').append(options);

        if (($('#submodelo > option').length-1) == 1) {
          $('select#submodelo option:nth-child(2)').attr('selected', 'selected');
          $('#submodelo').trigger('change');
          $('#submodelo').css('background', 'LightGray');
        }
       
          }
        })
      });

	  	$('#add').click(function(){
	        $('#ajax_segAmfe').load('{{ path('app_filter_segamfe')}}',{submodelo:$('#submodelo').val()});
	      });

 });
 </script> 	

{% endblock %}