{% extends 'GestionBundle::main.html.twig' %}

{% block contenido %}

<div class="page-wrapper">
	<div class="content">
	<br>
	<h2>&nbsp;&nbsp;{% trans %}aniadir{% endtrans %} {% trans %}conscalidad{% endtrans %}</h2>
	<br>

	{{form_start(form)}}
	{{form_widget(form)}}
	{{form_end(form)}}

	<br>
	<a class="btn btn-secondary" href="{{ path('app_index_conscalidad')}}">{% trans %}volver{% endtrans %}</a>
	<br>
	<br>
	</div>
</div>
{% endblock %}